html, body {
  min-height: 100%;
}

/* Когда к тегу <html> добавлен класс .is-lock,
отключается прокрутка страницы (используется, например, при открытии модального окна). */
html {
  &.is-lock {
    overflow: hidden;
  }
}

/* Делаем <body> flex-контейнером, чтобы можно было удобно
    выстраивать дочерние элементы по вертикали.
    Элементы внутри body располагаются в колонку (сверху вниз). */
body {
  @include fluid-text(18, 14);

  //@include dark-theme;
  @include light-theme;

  display: flex;
  flex-direction: column;
  font-family: 'Gilroy';
  color: var(--color-light-gray);
}

/* Основной контент (тег <main>) растягивается,
     занимая всё доступное пространство между шапкой и подвалом. */
main {
  flex-grow: 1;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  //color: var(--color-text-base);
}

h1, .h1 {
  @include fluid-text(80, 30);

  @include typography-light;
}

h2, .h2 {
  @include fluid-text(45, 25);
}

h3, .h3 {
  font-size: 20px;

  @mixin mobile-s {
    font-size: 16px;
  }
}

// текст после заголовка
h4, .h4 {
  @include fluid-text(30, 16);
}

// текст на карточке
h5, .h5 {
  font-size: 14px;

  @mixin mobile-s {
    font-size: 16px;
  }
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;

  @include hover {
    color: var(--color-red-45);
  }

  &[class] {
    text-decoration: none;
  }
}

:focus-visible {
  @include focus-visible;
}

:has(.swiper) {
  min-width: 0;
}
